.modal-video{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10000;
}

.modal-video-body {
	width: 100%;
	max-width: 800px;
	max-height: 90vh;
}

.text-shadow-black {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}